@import 'tailwindcss';

/* Ocultar scrollbar pero mantener scroll funcional */
@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
